@model pollseidon.Models.AddChoiceVM
@{
    ViewData["Title"] = "AddChoice";
}

<h2>Choice Name</h2>
<form method="post">
    <input type="hidden" asp-for="TopicId" value="@Model.TopicId"/>
    <input type="text" class="form-control btn-block" asp-for="ChoiceName" /><br /><br />
    <button type="submit" class="btn-block btn-default btn btn-primary">Done</button>
</form>

