@model pollseidon.Models.CreateTopicVM
@{
    ViewData["Title"] = "CreateTopic";
}

<form method="post">
    </br>

    <h3>Topic Name</h3></br>
    <input asp-for="TopicName" type="text" class="form-control btn-block" placeholder="Topic Name" aria-describedby="basic-addon2">
    </br>

    <h3>ตัวเลือกแรก (ถ้ามี)</h3>
    <input asp-for="FChoiceName" type="text" class="form-control btn-block" placeholder="Add Choice"/>
    <button class="btn btn-block btn-warning" type="submit">Done</button>
</form>