@{
    ViewData["Title"] = "Home Page";
}

<div id="myCarousel" class="carousel slide" data-ride="carousel" data-interval="6000">
    <div style="margin-top:5px">
        <img src="~/images/Logo.png" style="background-color:#23283E" class="img-responsive center-block">
    </div>
        </br>
        <label>Username</label>
        </br>
        <input type="text" class="form-control btn-block" placeholder="Username" aria-describedby="basic-addon2">
        </br>
        <a class=" btn btn-block btn-primary" asp-action="Topics">OK</a>
    
</div>
