@{
    ViewData["Title"] = "Home Page";
}

<div id="myCarousel" class="carousel slide" data-ride="carousel" data-interval="6000">
    <div>
        <img src="../../wwwroot/images/Logo.png">
    </div>
    <form class="input-group" method="post">
        </br>
        </br>
        <label>Username</label>
        </br>
        <input type="text" class="form-control" placeholder="Username" name="Username" aria-describedby="basic-addon2">
        </br>
        </br>
        <button type="submit" class="block btn-primary" asp-action"Topics">OK</button>
    </form>  
    
</div>
