@{
    ViewData["Title"] = "Toppics";
}

<div class="col-md-12">
    <a class=" pull-right btn-primary">+ Add Topic</a>
</div>
<div class="col-md-12">
    <div class="col-md-6">
        <a class=" btn-block btn-primary text-center" style="font-size:20px">All Poll</a>
    </div>
    <div class="col-md-6">
        <a class=" btn-block btn-primary text-center" style="color:gray;font-size:20px">My Poll</a>
    </div>

</div>
<div style="background-color:white">

    <div class="col-md-12" style="background-color:lightgray;margin-top:5px">
        <label>Toppic Name AAA</label><br />
        <label>Create by : Username1</label>
    </div><br /><br />
    <div class="col-md-12" style="background-color:lightgray;margin-top:5px">
        <label>Toppic Name BBB</label><br />
        <label>Create by : Username2</label>
    </div><br /><br /><br />
    <div class="col-md-12" style="background-color:lightgray;margin-top:5px">
    <label>Toppic Name CCC</label><br />
    <label>Create by : Username3</label>
    </div><br /><br /><br />
</div>