@{
    ViewData["Title"] = "Home Page";
}

<div id="myCarousel" class="carousel slide" data-ride="carousel" data-interval="6000">
    <a type="button" class="block" asp-action="CreateTopic" style="aligth-right">+ Add Topic</a>
</div>
