@model List<pollseidon.models.ViewModels.TopicVM>
@{
    ViewData["Title"] = "Toppics";
}

<div class="col-md-12" style="margin-top:5px">
    <a class=" pull-right btn-primary btn " asp-action="CreateTopic">+ Add Topic</a>
</div>




<div class="tab" style="margin-top:50px">
    <button class="tablinks " onclick="openCity(event, 'London')">All Poll</button>
    <button class="tablinks" onclick="openCity(event, 'Paris')">My Poll</button>
</div>

<div id="London" class="tabcontent ">
    <div style="background-color:white">
        @foreach (var item in Model)
        {
            <a asp-action="Vote">
                <div class="col-md-12" style="background-color:lightgray;margin-top:5px">
                    <label>@item.TopicName</label><br />
                    <label>Create by : @item.CreateBy</label>
                </div><br /><br />
            </a>
        }
    </div>
</div>


<div id="Paris" class="tabcontent">
    @foreach (var item in Model.Where(it => it.CreateBy == ViewBag.username))
    {
        <a asp-action="Vote">
            <div class="col-md-12" style="background-color:lightgray;margin-top:5px">
                <label>@item.TopicName</label><br />
                <label>Create by : @item.CreateBy</label>
            </div><br /><br />
        </a>
    }
</div>



<script>
    function openCity(evt, cityName) {
        var i, tabcontent, tablinks;
        tabcontent = document.getElementsByClassName("tabcontent");
        for (i = 0; i < tabcontent.length; i++) {
            tabcontent[i].style.display = "none";
        }
        tablinks = document.getElementsByClassName("tablinks");
        for (i = 0; i < tablinks.length; i++) {
            tablinks[i].className = tablinks[i].className.replace(" active", "");
        }
        document.getElementById(cityName).style.display = "block";
        evt.currentTarget.className += " active";
    }

</script>