@model List<pollseidon.models.ViewModels.TopicVM>
@{
    ViewData["Title"] = "Toppics";
    ViewData["Title"] = "Topics";
}

<div class="col-md-12" style="margin-top:5px">
    <a class=" pull-right btn-primary btn " asp-action="CreateTopic">+ Add Topic</a>
</div>




<ul class="nav nav-tabs">
    <li class="active"><a data-toggle="tab" href="#London">All Poll</a></li>
    <li><a data-toggle="tab" href="#Paris">My Poll</a></li>
</ul>
<div class="container">
    <div class="tab-content">
        <div id="London" class="tab-pane fade in active">
            @foreach (var item in Model)
            {
                <a asp-action="Vote">
                    <div class="col-md-12" style="background-color:lightgray;margin-top:5px">
                        <label>@item.TopicName</label><br />
                        <label>Create by : @item.CreateBy</label>
                    </div></a><br /><br />
            }
        </div>
        <div id="Paris" class="tab-pane fade">
            @foreach (var item in Model.Where(it => it.CreateBy == ViewBag.username))
            {
                <a asp-action="Vote">
                    <div class="col-md-12" style="background-color:lightgray;margin-top:5px">
                        <label>@item.TopicName</label><br />
                        <label>Create by : @item.CreateBy</label>
                    </div><br /><br />
                </a>
            }
        </div>
    </div>

</div>