
@{
    ViewData["Title"] = "ViewVote";
}

<h2>1.Choice AAA</h2>
<div>

    <p class="glyphicon glyphicon-star"></p>
    <p class="glyphicon glyphicon-star"></p>
    <p class="glyphicon glyphicon-star"></p>
    <p class="glyphicon glyphicon-star-empty"></p>
    <p class="glyphicon glyphicon-star-empty"></p>
    <p>3 ดาว</p>
</div>
<hr />
<div class="col-md-12">
    <div class="col-md-6">
        <label>Username AAA</label>
    </div>
    <div class="col-md-6">
        <p class="glyphicon glyphicon-star"></p>
        <p class="glyphicon glyphicon-star"></p>
        <p class="glyphicon glyphicon-star"></p>
        <p class="glyphicon glyphicon-star-empty"></p>
        <p class="glyphicon glyphicon-star-empty"></p>
    </div>
</div>

<div class="col-md-12">
    <div class="col-md-6">
        <label>Username AAA</label>
    </div>
    <div class="col-md-6">
        <p class="glyphicon glyphicon-star"></p>
        <p class="glyphicon glyphicon-star"></p>
        <p class="glyphicon glyphicon-star"></p>
        <p class="glyphicon glyphicon-star-empty"></p>
        <p class="glyphicon glyphicon-star-empty"></p>
    </div>
</div>

<div class="col-md-12">
    <div class="col-md-6">
        <label>Username AAA</label>
    </div>
    <div class="col-md-6">
        <p class="glyphicon glyphicon-star"></p>
        <p class="glyphicon glyphicon-star"></p>
        <p class="glyphicon glyphicon-star"></p>
        <p class="glyphicon glyphicon-star-empty"></p>
        <p class="glyphicon glyphicon-star-empty"></p>
    </div>
</div>