@{
    ViewData["Title"] = "Home Page";
}

<div id="myCarousel" class="carousel slide" data-ride="carousel" data-interval="6000">
    <form asp-action="Index">
        <div class="form-group">
            <label for="UsernameInput">Username</label>
            <input type="text" class="form-control" id="UsernameInput" name="UsernameInput" placeholder="Username">
        </div>
        <button type="submit" class="btn btn-default">Submit</button>
    </form>
</div>
